<!DOCTYPE html>
<html>

<head>
	<title>Database</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>

	<div class="container" style="	
				background-image : linear-gradient(0deg, #000000, #293b93);">

		<h1>{{title}}</h1>

		<div class="container">
			<a href="/"><button>Повернутися</button></a>
		</div>
	</div>

	<div class="container" style="margin-top : 20px;">

	{{#each rows}}
		<p>{{this}}</p>
	{{/each}}
	

	</div>



</body>


</html>