doctype html
html
    head
        body
            block content

            h2 Hi I am container but never meant to be one
            div.footer Actually I am header but container finds standing upside down amusing