extends  container
block content
h1 Hi, #{userName}!
div
    | Looks like you forgot the password.
    | You may restore it by clicking url below.
    | DO NOT CLICK IN ANY WAY OR I'LL FIND YOU!!! Unless you're #{userName}
    a(href=restoreUrl) Restore password